<h1>My Travel History</h1>
 
 <ul>
   <% for place in @places %>
    <li>
      <a href="/places/?q=<%= place["id"] %>"><%= place["name"] %></a>
    </li>
   <% end %>
</ul>

<p><a href="/places/new">Add journey</a></p>